node_modules
.next
.next-desktop
.env
.env.local
.env.production
.env.development
.env.development.local
.env.production.local
tsconfig.tsbuildinfo
data/
dist
public/installers/*.exe
electron/resources/empty.db
*.db
*.db-journal
*.db-wal
*.db-shm
*.db.backup
prisma/dev.db

